@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0 auto;
}
.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .flex-item{
    display: flex;
  }
  

  .nav-items{
    justify-content: space-between;
    margin-top: 70px;
  }

  header{
    margin-bottom: 130px;
    /* margin-bottom: 130px; */
  }
  /* Share styles */
  .btn-primary{
    width: 150px;
    height: 54px;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 1.2rem;
font-weight: 500;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
  }
.title-font{  /* G3 Architects */
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: center;
  }
.link-font{
    color: rgb(66, 66, 66);
font-family: Work Sans;
font-size: 18px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
/* nav styles */
.nav-li-item{
    gap: 40px;
}
.nav-link{
    text-decoration: none;
}
.nav-link-item{
    list-style: none;
}
.bg-color{
    background: rgba(255, 144, 14, 0.1);
}
.nav-items{
    /* Rectangle 2 */
    max-width: 1440px;
/* height: 100px; */
margin:0 auto;
align-items: center;
margin-bottom: 102px;
}
.banner{
    max-width: 850px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.banner-content{
    /* width: 850px; */
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}
.banner-title{
    color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 3.5rem;
font-weight: 700;
text-align: center;
}
.para{
    color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 1.25rem;
font-weight: 400;
text-align: center;
}
/* .banner-img{
    width: 850px;
    margin: 0 auto;
    
} */
.banner-img img{
    width: 100%;
    /* height: 100%; */
    /* margin: 0 auto; */
    border-radius: 8px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.teams{
    align-items: center;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.team-features{
    margin-left: 75px;
    flex-direction: column;
}
.feature-title{
    font-family: Work Sans;
font-size: 2.5rem;
font-weight: 700;
margin-bottom: 24px;
}
#Quick-list{
    font-weight: 500;
  color:#727272
}
#of-Our{
    color: #131313
}
#Features{
    color: #FF900E
}
.feature-description{
    margin-bottom: 24px;
    text-align: left;
}
@media screen and (max-width : 576px) {
    .nav-items, 
    .nav-li-item,
    .teams{
        flex-direction: column;
    }
    .team-image-container{
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 50px;
    }
    .team-features{
        margin-left: 20px;
    }
}
@media screen and (min-width : 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .team-features{
        margin: 50px 110px;
    }
}