@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .flex-item{
    display: flex;
  }
  

  .nav-item{
    justify-content: space-between;
  }

  .title-font{  /* G3 Architects */
width: 302px;
height: 53px;
left: 228px;
right: 1390px;
top: 50px;
bottom: 4657px;
  }